<footer class="main-footer">
    <div class="main-footer-container">
        <h3 class="band-name no-highlight">Bowow</h3>
        <ul class="nav footer-nav">
            <li class="no-highlight">
                <a
                    href="https://www.youtube.com/channel/UCuXSuzae1gH6HCu9oUE9Z3g/featured"
                >
                    <img src="./Assets/Socials/Youtube.png" />
                </a>
            </li>
            <li class="no-highlight">
                <a
                    href="https://open.spotify.com/user/bowow_0923?si=6fedad7e452a4646"
                >
                    <img src="./Assets/Socials/Spotify.png" />
                </a>
            </li>
            <li class="no-highlight">
                <a href="https://soundcloud.com/bowow2478">
                    <img src="./Assets/Socials/Sound Cloud.png" />
                </a>
            </li>
            <li class="no-highlight">
                <a 
                    href="https://www.instagram.com/bowow_0923/"
                >
                    <img src="./Assets/Socials/Instagram.png" />
                </a>
            </li>
        </ul>
    </div>
    Copyright &copy; Bowow 2023
</footer>