<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <!-- title of the page when searched and in the tab-->
    <title>Bowow - Official Website</title>

    <!-- description of the page when searched for in -->
    <!-- google search results -->
    <meta
      name="description"
      content="Coming Soon: listen to Bowow's new single"
    />

    <!-- <script src="index.js" defer></script> -->
    <link href="./Styles/index.css" rel="stylesheet" type="text/css"/>
    <script src="./Scripts/nav.js" defer></script>
    <script src="./Scripts/index.js" defer></script>

    <script
      src="https://kit.fontawesome.com/9422a833ef.js"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- react cdn for practice only -->
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
      defer
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
      defer
    ></script>
</head>

    