<!-- navigation bar fixed the top -->
<div class="nav-fixed">
  <div class="nav-fixed-container">
    <div class="navigation">
      <div class="logo">
        <div class="brand-container">
          <a href="https://a-box31.github.io/Bowow-Official-Website/">
            <img
              class="nav-logo"
              src="/Assets/Images/profile_pic.JPG"
              style="width: 65px"
            />
          </a>
        </div>
        <div class="main-social">
          <a href="https://www.instagram.com/bowow_0923/">
            <img src="/Assets/Socials/Instagram.png" style="height: 18px" />
          </a>
          <a href="https://soundcloud.com/bowow2478">
            <img src="/Assets/Socials/Sound Cloud.png" style="height: 18px" />
          </a>
        </div>
      </div>
      <div class="navbar-links">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Discography">Discography</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/#network">Network</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <button class="hamburger">
      <div class="bar"></div>
    </button>
  </div>

  <div id="mobile-nav" class="mobile-container">
    <nav class="mobile-links">
      <ul>
        <li>Home</li>
        <li>Discography</li>
        <li>Contact</li>
        <li>Network</li>
      </ul>
    </nav>
  </div>
</div>
