<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <div class="wrapper">

            <%- include('./partials/navigation.ejs') %>

            <div class="content-area">
                <section class="content-section bg-white">
                    <div class="general-container container">
                        
                    </div>
                </section>

                <section class="content-section bg-black">
                    <div class="general-container container">

                    </div>
                </section>

                <section class="content-section bg-white">
                    <div class="general-container container">

                    </div>
                </section>

                <%- include('./partials/footer.ejs') %>

            </div>

        </div>

    </body>

</html>