@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');


/*
If loading from a computer:

@font-face {
    font-family: Name of Font;

    //Some fonts aren't able to be rendered so multiple are given for backup support//

    src: url("File/Name of font.woff") format("woff");
    src: url("File/Name of alternate font.woff") format("woff2");

    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
    font-family: Sound Wave;
    src: url("Fonts/Sound_Wave_Font.ttf");

    font-weight: normal;
    font-style: normal;
}


* {

    /* 
    size of elements are determined by padding, margin, and content 

    so if we set a element to be 200px and the padding to be 20px, then 
    the 20px is included in the 200px

    without it the total area would be 240px
    */
    box-sizing: border-box;
    

    /* font family (default font to be used )*/
    font-family: Russo One;
    color: #777;

}

html, body{

    /*
    some html elements have default paddings
    these were removed to make the heading look better
    */
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}


















/* footer styles */

.nav ul {
    /* 
    Gets rid of margin at the top because nav is first element and should
    only be the nav with a list in it
    */
    margin: 0; 
}

.nav li {
    /* the navigation list elements should be displayed in line */
    display: inline;
}

.nav a {
    /* 
    navigation links should be padded (this only pads to the left and right and 
    not the top and bottom because it is an inline element)
    */
    padding: .5em;

    /* 
    To add padding to the top and bottom or add heights, you have to make it a 
    inline block because blocks are two dimensional while lines only have a 
    width
    */
    display: inline-block;

    color: white;

    /* gets rid of the link-looking underlines */
    text-decoration: none;
}

/* This is the hover selector used on the nav's anchor tags */
.nav a:hover {
    /* elements with this tag should have their box-model change color */
    /* should be transparent to still view the background picture */
    background-color: rgba(255,255,255,.3);
}






















.main-header {

    /* sets the background with the url function (similar to href)*/
    background-image: url("Images/header_background.jpg");

    /* back-background color for overlaying image over*/
    background-color: rgba(0,0,0,.6);

    /* background blending (multiply "overlays" the images)*/
    background-blend-mode: multiply;

    /*
    background size property set to take the image and expand as much
    as possible without growing bigger than the image 
    */ 
    background-size: cover;

    /*Setting the bottom padding so Title isn't sitting on top of white-space */
    padding-bottom: 50px;

}




.band-name {

    /* class for band name: should be centered wherever it is */
    text-align: center;

    /* heading elements like h1 all have margins: let the margins be 0 */
    margin: 0; 

    font-size: 4em;

    /* changing the everything tag's font set on the heading to be different  */
    font-family: Sound Wave;

    /*
    Since heading are by default bolded, the font-weight can be changed to 
    normalize the bolded text
    */
    font-weight: normal;

    /* All band names should be white */
    color: white;
}

.band-name-large {
    font-size: 5em;
}


.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-section {
    /* differentiates the section from the previous header*/
    margin: 1em;
}

.container {    
    /* 
    Sets a max width on the section, meaning if the screen grows too large it
    will not out grow 900px
    */
    max-width: 800px;

    /* 
    margin for top and bottom set to zero
    
    auto-set the left and right margins for better fitting 
    (ie. centers the text to the screen)
    */
    /* margin: 0 auto; */

    /* 
    ensures that even if the page is as small as possible there is a padding
    to prevent the text from hugging the edge
    */
    padding: 0 1.5em;

}

.section-header {
    /* Styles the section element with font, weight, color, position, and size */
    font-family: Stalinist One;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;

}


/* .album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #290133;
} */


.audio-player{
    width: 15rem;
    height: 15rem;
    /* background-color: red; */
}

.icon-container {
    width: 100%;
    height: 100%;
    background-color: #290133;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.audio-icon {
    width: 90%;
    height: 90%;
}



.audio-player {
    --player-button-width: 3em;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
  
.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

.timeline {
    -webkit-appearance: none;
    width: calc(100% - var(--player-button-width));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#33003f, #33003f);
    background-repeat: no-repeat;
}


.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #65007e;
}

.timeline::-webkit-slider-thumb:hover {
    background-color: #33003f;
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.audio-player {
  --player-button-width: 3em;
  --sound-button-width: 2em;
  --space: .5em;
  margin-bottom: 2rem;
}

.timeline {
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    margin-right: var(--space);
}

.sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
}








.about-logo-image {
    /* 
    trying to get the page to wrap around the image...
    by using the float property, we can make the image stay left while the
    entire page wraps around it
    image removes itself from the flow and "floats" left of the page
    */
    float: left;

    /* Setting the height and width of the images */
    height: 200px;
    width: 200px;

    /* setting a little margin so the text doesn't hug the picture*/
    margin: 15px;

    /*
    making the image rounded so the it sticks out more
    It is a property on how far we want to curve the edges of the border
    Since the image is square, 50% is the side that is shortest, taking that 
    it will vector out a circle
    */
    border-radius: 50%;

    /* 
    creating a border around the circle so that the white-background image can
    be seen as a circle 
    */
    border: 3px solid ;
}

.main-footer {
    /* Background color should be white */
    background-color: #290133;

    /* Anything else should be white */
    color: white;

    /* padding should be for top and bottom */
    padding: .25em 0;
}

.main-footer-container {
    /* flex display/flex-box is a complicated display tool*/
    display: flex;

    /* Vertically aligns everything in the flex-box */
    align-items: spaced-apart;
}

/* makes a flex-grows the list of */
.main-footer-container ul {
    /*
    left element should be as small as possible (ul elements)  
    1 - means grow and push everything to the right
    */
    flex-grow: 1;

    /* should be toward the right end */
    text-align: end;
}

/* footer list should have padding around*/
.footer-nav li {
    padding: 0 .5em;
}


/* footer navigation images ex. youtube, spotify, etc logos */
.footer-nav img {
    /* if images were not sized already you cn set the height and width */
    height: 30px;
}

